/*

This is a comment in CSS. I'll explain how to do CSS! YAY!

.class {
    property: value;
}

tag {
    property: value;
}

classes always use . 
tags are predefined names such as h1, h2, p, ul, li, label, strong and do not require a . 
classes can be named anything you want and tags cannot.

*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.name {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    float: left;
    line-height: 50px;
    color: #f1f1f1;
}
.name a {
    color: #f1f1f1;
}

p {
    margin: auto;
}

a {
    text-decoration: none;
    color: #f49a07;
}

.splash {
    margin: 20px auto;
    width: 1000px;
}
.uh {
    position: fixed;
    width: 100%;
    background-color: #333;
    height: 50px;
}

.line {
    border-bottom: 2px solid #F49A07;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.uhstuff {
    width: 1000px;
    margin: 0 auto;
}

.role {
    font-size: 13px;
    float: left;
    margin-left: 15px;
    line-height: 50px;
    color: #f1f1f1;
}

#nav {
    margin: 0 auto;
    line-height: 50px;
    float: right;
    text-align: right;
}

#nav ul li a {
    color: #F49A07;
    font-size: 13px;
    text-decoration: none;
}

#nav ul li a:hover {
    opacity: 0.6;
}

#nav ul li .activeState {
    color: #fff;
}
/*
img {
    width: 320px;
    display: inline-block;
}*/

.profile img {
    width: 300px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#nav ul li {
    display: inline;
    margin-right: 15px;
}

/*i am styling the ul that is within the nav class, as you can see the ul is a different color than nav. 
The ul is a predefined tag and the .nav is a class name that i created*/

#nav ul {
    list-style: none;
    text-transform: capitalize;
}

.secondnav ul {
    list-style: none;
}

.secondnav ul li {
    display: inline-block;
    padding-right: 10px;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    color: #F49A07;
    width: 1000px;
}


.tiletext {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
}

.devicetext {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 15px;
}

.project {
    padding-top: 40px;
    width: 1000px;
    margin: auto;
}

.content {
    padding-top: 90px;
    width: 1000px;
    margin: auto;
}

.wrapper {
    width: 300px;
    margin-right: 30px;
    float: left;
}

.wrapper2 {
    width: 700px;
    float: left;
}

.box {
    color: #000;
    width: 300px;
    margin: 15px;
    float: left;
    border: 1px solid #f1f1f1;
    background-color: #f3f3f3;
}

.secondnav {
    width: 1000px;
    padding-top: 90px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #F49A07;
}

.secondnav a {
    font-size: 16px;
    text-decoration: none;
    color: #F49A07;
}

.secondnav ul li:hover {
    opacity: 0.6;
}

.secondnav ul li .activeState {
    color: #E4650E;
}

.box .bg-election {
    background-size: cover;
    background-image: url('../images/news-election-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-colors {
    background-size: cover;
    background-image: url('../images/colors-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-publishapp {
    background-size: cover;
    background-image: url('../images/publishing-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-patents {
    background-size: cover;
    background-image: url('../images/patents-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-bizhealth {
    background-size: cover;
    background-image: url('../images/bizhealth-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-astro {
    background-size: cover;
    background-image: url('../images/astro-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-backyard {
    background-size: cover;
    background-image: url('../images/backyard-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-imow {
    background-size: cover;
    background-image: url('../images/imow-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-contentmktg {
    background-size: cover;
    background-image: url('../images/content-mktg-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-magazines {
    background-size: cover;
    background-image: url('../images/magazines-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-pyc {
    background-size: cover;
    background-image: url('../images/pyc-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-panorama {
    background-size: cover;
    background-image: url('../images/panorama-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-trackvia {
    background-size: cover;
    background-image: url('../images/trackvia-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-simple-energy {
    background-size: cover;
    background-image: url('../images/simple-energy-tile.png');
    width: 300px;
    height: 300px;
}

.box .bg-shine {
    background-size: cover;
    background-image: url('../images/shine-tile.png');
    width: 300px;
    height: 300px;
}

.box:hover {
    opacity: 0.5;
}

/*RESUME STYLING*/

h2 {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.resume-title {
    float: left;
    width: 200px;
}

.inline {
    display: inline;
}

.resume-box {
    clear: both;
}

.stuff {
    font-size: 13px;
    float: right;
}

.stuff a {
    float: left;
    display: inline;
}

.stuff img {
    float: left;
}

button {
    margin-right: 20px;
    background-color: #F49A07;
    border-radius: 1px;
    border: none;
    padding: 10px 15px;
    width: 140px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    float-right: 20px;
    text-decoration: none;
    display: inline-block;
    color: #f1f1f1;
    cursor: pointer;
}

button a {
    color: #f1f1f1;
    line-height: 25px;
    text-decoration: none;
    padding: 10px;
}

button:hover {
    opacity: 0.5;
}

h3 {
    font-size: 13px;
    font-weight: 400;
    margin: 20px;
    text-decoration: none;
}

.job-title {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

.jobs-info {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 20px;
    padding-left: 18px;
}

.jobs-info2 {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 20px;
}

.jobs-info ol li {
    font-size: 13px;
}

.avatar {
    outline-color: #f1f1f1;
    width: 30px;
    height: 30px;
    margin: 15px;
    float: left;
}

/*ABOUT STYLING*/
.about-title {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-top: 10px;
    margin-right: 20px;
}

.about-text {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-right: 20px;
}

#hamburger {
    display: none;
}


/*media queries DON'T TOUCH OR EDIT. LIKE EVER.*/

@media screen and (min-width: 320px) and (max-width: 500px) {


.uh .uhstuff {
}

.uhstuff {
    width: 100%;
}

.secondnav {
    width: 350px;
}

.project {
    width: 350px;
}

.splash {
    width: 350px;
}

.splash img {
    width: 100%;
}

.name {
    padding-left: 20px;
}

#hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    padding-top: 18px;
}

#nav {
    float: none;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: #ccc;
    -webkit-transition: height 1s;
    transition: height 1s;
}

#nav.open {
    height: 185px;
    -webkit-transition: height 1s;
    transition: height 1s;
}

#nav li {
    display: block;
    text-align: center;
    padding: 0;
    margin: 1px 0;
    line-height: 45px;
    background-color: #3C504E;
}

#nav li a {
    display: block;
    background-color: #444;
    border-bottom: 1px solid #666;
}

.content {
    width: 350px;
}

.wrapper {
    width: 340px;
    float: none;
    margin: auto;
}

.wrapper2 {
    width: 350px;
    padding: 10px 20px;
    margin: auto;
    float: none;
}

h1 {
    width: 350px;
}

.profile img {
    width: 260px;
}

.profile {
    margin: auto;
    width: 260px;
}

.box {
    float: none;
    margin: 0 auto 20px;
}